/* end defaults */
html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}

.header-container {
  background: #eee;
  padding: 2rem 3rem;
}

.header-container h1,
.header-container h2,
.header-container h3,
.header-container h5,
.header-container p {
  margin-bottom: 0;
}

.header-container .taker-container {
  border-top: 1px solid rgb(211, 211, 211);
  padding: 1rem 0 0 0;
  margin-bottom: 0;
  margin-top: 1rem;
}

.table-container {
  margin: 2rem auto;
}
.table-container thead .icon {
  font-size: 13px;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.table-container .search-container {
  margin: 1rem 0;
}
.table-container .pagination-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

/* defaults */
.custom-fw-bold {
  font-weight: 500 !important;
}
.custom-fw-bolder {
  font-weight: 700 !important;
}
.hasScroll {
  width: 1840px;
}
